.form-container{
    width: 1000px;
    margin: 75px auto;
    background-color: #000;
    color: #4b5bec;
    border: 1px solid #0a1cc2;
    min-height: calc(100vh - 150px);
    padding: 0 70px;
    border-radius: 5px;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-box h2,
.form-box .form-item{
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid #0a1cc2;
}

.form-item label{
    display: block;
}

.form-item input[type="text"],
.form-item input[type='file']{
    width: 400px;
    padding: 10px;
    background-color: #aaa;
    border-radius: 5px;
    border: 1px solid #0a1cc2;
    outline: none;
    overflow: hidden;
}

.form-item input[type='submit']{
    padding: 10px;
    width: 120px;
    background-color: #4f8ab1;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.form-item input[type='submit']:hover{
    background-color: #376381;
}

.result-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    text-align: left;
}

.result-box p{
    background-color: #aaa;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.loading-text,
.pre-text{
    font-size: 25px;
}

.loading-text::after {
  display: inline-block;
  animation: ellipsis 1.4s infinite;
  content: ".";
  width: 1em;
  text-align: left;
}

@keyframes ellipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}